.btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    color: gray;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white !important;
}

.btn-secondary {
    background-color: #bdc3c7;
    color: white;
}

.btn-danger {
    background: #e74c3c;
    color: white;
}

.btn:hover {
    opacity: 0.9;
}

.back-btn {
    margin-bottom: 15px;
    display: inline-block;
}

.action-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    border: 2px solid black;
}

.table th {
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    border: 1px solid black;
}

.table tr:hover {
    background: #f9f9f9;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard-header {
    margin-bottom: 20px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
    gap: 15px;
    justify-content: center;
}

.dashboard-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #eee;
}

.dashboard-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboard-card h4 {
    margin-bottom: 10px;
}

.dashboard-card a {
    display: inline-block;
    margin-top: 10px;
}

.dashboard-footer {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.page-header h2 {
    margin: 0;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tabs a button {
    padding: 6px 12px;
    border: none;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.tabs a button.active {
    background: var(--primary-color);
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
}